@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato:wght@300;400;700;900&family=Poppins:wght@400;600;700&family=Roboto&family=Ubuntu&display=swap');

*, body {
    font-family: 'Ubuntu', sans-serif;
}

p  {
    color: #6d6e71;
    font-size: 14px;
}
.container {
    width: 1170px !important;
}

p {
    font-size: 14px !important;
}

.purple-clr, .wp-link-purple{
    color: #c06da2 !important;
}

.bg-purple {
    background: #800080 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-kumarkom-menu-container {
    padding-top: 150px;
}

.vh-50 {
    max-height:50vh;
}

@media(max-width:767px) {
    .container {
        width: 100% !important;
    }
    .btn-circle {
        width: 45px !important;
        height: 45px !important;
        padding: 5px !important; 
        border-radius: 30px;
        color: black;
        display: inherit;
    }
    .btn-circle-mob-white {
      background: white;
      color: black !important;
      padding: 11px;
      border-radius: 100px;
      height: 50px;
      width: 50px;
    }   
    .custom-kumarkom-menu-container {
        padding-top: 30px !important;
    }
}

.font11px {
    font-size: 11px !important;
}

.font12px {
    font-size: 12px !important;
}

.font14px {
    font-size: 14px !important;
}

.font15px {
    font-size: 15px !important;
}

.font16px {
    font-size: 16px !important;
}

.font18px {
    font-size: 18px;
}

.font19px {
    font-size: 19px !important;
}

.bg-purple{
    background: #a4508e;
}

.text-purple{
color: #913065;
}

.text-custom-grey {
    color: #6d6e71;
}

.breadcrumbs:before {
    padding: 4px;
    color: #000; 
    content: "/";
}

.kumarkom-active-menu {
    border-bottom: 3px solid #a4508e;
    padding-bottom: 3px;
    display: inline-block;
}

.text-custom-megenta {
    color: #a4508e !important;
}

.kumarkom-image-overlay{
    border-bottom: 6px solid #E2CDD4;
}

.kumarkom-image-overlay:hover {
    opacity: 0.5;
    transition: .5s ease;
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
}

.underline {
    line-height: 17px;
    padding-bottom: 15px;
    border-bottom: 2px solid silver;
    width: 137px;
    margin: 0 auto;
}

.down-arrow {
    border-bottom: 1px solid silver;
    width: 22px;
    border-left: 1px solid silver;
    height: 22px;
    padding: 3px 9px;
    position: absolute;
    transform: translate(-50%,-50%) rotate(315deg);
    -webkit-transform: translate(-50%,-50%) rotate(315deg);
    -o-transform: translate(-50%,-50%) rotate(315deg);
    -ms-transform: translate(-50%,-50%) rotate(315deg);
    -moz-transform: translate(-50%,-50%) rotate(315deg);
    background-color: #fff;
    left: 50%;
    bottom: -22px;
}

/* Header Style */
.custom-header {
    font-size: 14px;
}

.after-header:after{
    content: "\00b7";
    color: #c06da2;
    font-size: 100px;
    position: absolute;
    margin: -11px 0 0 -29px;
    z-index: 0;
}

.after-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}



.header-font {
    font-size: 14px !important;
    margin-bottom: 0px !important;
}

.dimond-shap-1 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    /* left: 28.4% !important; */
    left: 22.7% !important;
    rotate: 45deg;
}

.menu-font {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.hotel-hidden, .events-hidden, .offers-hidden, .mayaspa-hidden {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    background: #333;
    padding: 18px;
    z-index:999;
}

.hotel-hidden:hover, .events-hidden:hover , .offers-hidden:hover , .mayaspa-hidden:hover  {
    display: block !important;
    width: 100%;
}

.hotel-hidden, .events-hidden, .offers-hidden, .mayaspa-hidden {
    display: none;
}

.hover-to-show {
    /* background: orange; */
    z-index: 999;
}

.hover-to-show:hover + .hotel-hidden , .events:hover + .events-hidden , .offers:hover + .offers-hidden , .mayaspa:hover + .mayaspa-hidden  {
    display: flex;
    z-index: 9;
}

.nav-show {
    margin-left: 110px !important;
    cursor: pointer;
}

/* events */
.dimond-shap-2 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    /* left: 34.6% !important; */
    left: 30.5% !important;
    rotate: 45deg;
}

/* Offers header */
.dimond-shap-3 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    /* left: 40.9% !important; */
    left: 38.3% !important;
    rotate: 45deg;
}

/* Maya Spa Header */
.dimond-shap-4 {
    position: absolute;
    background: #333;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    left: 47% !important;
    rotate: 45deg;
}


.underline-center-all {
    line-height: 17px;
    padding-bottom: 15px !important;
    border-bottom: 2px solid silver;
    width: 137px;
    margin: 0 auto;
}

/* Header  */

.cusrom-make-reservation-icon {
    margin-left: -60px;
    font-size: 24px;
    margin-top: -2px;
    border-radius: 50px;
}

.custom-search-input {
    border: 1px solid purple;
    padding-left: 10px;
}

.custom-search-input::placeholder {
    color: black;
}

.cusrom-make-reservation-btn {
    display: block;
    -webkit-transition: color .5s ease-in;
    position: relative;
    padding: 12px 0px;
    border-radius: 50px;
    border: 1px solid purple;
    margin-left: -15px;
    z-index: 1;
    color: #fff!important;
    background-color: purple;
}

.dimond-shap-purple {
    position: absolute;
    background: purple;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    left: 45.4%;
    bottom: -5px;
    rotate: 45deg;
}


select#hotel , select#rooms, select#adults, select#children {
    padding: 8px;
    border: 1px solid silver;
    color : #6d6e71;
    font-size: 14px;
    width: 100%;
}

input#checkIn, input#checkOut {
    padding: 6px;
    border: 1px solid silver;
    color : #6d6e71;
    font-size: 14px;
    width: 100%;
}


.header-container {
    transition: transform 0.7s ease-in-out;
    z-index:0 !important;
    position: absolute;
    margin-top: 100px !important;
    background: white;
    padding: 0px !important;
    left: 0px;
    right: 0;
    border-bottom: 1px solid grey;
  }
  
  .header-container.hidden {
    transform: translateY(-100%);
  }

  .dimond-shap-close {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid purple;
  } 

  .custom-close-btn {
    position: absolute;
    /* background: purple; */
    /* width: 20px;
    height: 20px; */
    margin-top: -22px;
    left: 50%;
    bottom: 0px;
  }

  .desktop-header-form {
    transition: transform 0.7s ease-in-out;
    opacity: 1;
  }
  
  .desktop-header-form.hidden {
    opacity: 0;
  }


  
@media(max-width:767px) {
    .after-header {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .after-header:after{
        content: "\00b7";
        color: #c06da2;
        font-size: 100px;
        position: absolute;
        margin: -11px 0 0 -29px;
        z-index: 0;
    }

    .cusrom-make-reservation-btn {
        display: inline-block;
        -webkit-transition: color .5s ease-in;
        position: relative;
        padding:5px 06px;
        border-radius: 50px;
        border: 1px solid purple;
        margin-left: -15px;
        z-index: 1;
        color: #fff!important;
        background-color: purple;
        display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .menu-font {
        padding-bottom: 5px;
    }
}

/* Home page */

.btn-circle {
    width: 55px;
    height: 55px;
    padding: 12px 5px;
    font-size: 11px !important;
    border-radius: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.custom-home-slider-text {
    font-size: 47px !important;
}

.carousel-caption {
    position: absolute;
    right: 0 !important;
    bottom: 1.25rem;
    left: 0 !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}


@media(max-width:768px) {
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 14%;
        margin-bottom: 3rem !important;
        margin-top: -26px !important;
        margin-left: 15%;
    }
}

.breadcrumbs-active {
    text-decoration: none !important;
    color: black !important;
    border-bottom: 3px solid #a4508e !important;
    padding-bottom: 3px;
    display: inline-block;
}

.carousel-indicators .active {
    opacity: 1;
    border: 3px solid white !important;
    background: purple !important;
    width: 5px;
    height: 5px;
}
/* 
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 9px !important;
    height: 9px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
} */

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 9px !important;
    height: 9px !important;
    border: 3px solid white !important;
    padding: 0;
    margin: 2px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1 !important;
    transition: opacity .6s ease;
} 


.accordion-item {
    height: 450px;
    /* width: 10% !important; */
}

.carousel-caption {
    position: absolute;
    right: 0 !important;
    bottom: 0px !important;
    left: 0 !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}


.container1 {
    display: flex;
  }

.row1 {
    height: 50px; /* Adjust as needed */
    border: 1px solid #ccc;
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  .row1.active {
    width: 80%;
  }

  .bounce-animation {
    animation: bounce .2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}



/* React Tabs */

.react-tabs__tab-list {
    border-bottom: 0px solid #aaa !important;
    margin: 0px 0 10px;
    padding: 0;
    text-align: center;
}

.react-tabs__tab {
    border: 0px solid transparent !important;
}

.react-tabs__tab--selected {
    border-bottom: 3px solid #a4508e !important;
}


button.active {
    background-color: blue;
    color: white; /* You can adjust the text color as needed */
}


@media(max-width:767px) {
.custom-home-slider-text {
    font-size: 28px !important;
    }
}

/* Form Fils */
.r_error {
    color: red; 
    font-size: 14px;
}

.radio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the value as needed for the desired gap */
}

.radio-option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
        font-size: 14px;
        color: #6d6e71;
}

input#marketing 
    {
margin-right: 4px;
}

input#business
{
    margin-right: 4px;
}

input#development{
    margin-right: 4px;
}
input#events{
    margin-right: 4px;
}
input#hr{
    margin-right: 4px;
}
input#relations{
    margin-right: 4px;
}
input#other{
    margin-right: 4px;
}

input::placeholder {
    font-size: 14px; 
}

textarea::placeholder {
    font-size: 14px; 
}

/* For select box */
select#yourPlace {
    font-size: 14px; 
}
/* For select box */
select#yourCountry {
    font-size: 14px; 
}


/* Events Form */

.events-form {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #6d6e71;
}


.events-form:after {
    content:'*'
}


.custom-select {
    position: relative;
    width: 100%;
}

.select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 8px; /* Adjust the font size as needed */

}

input#eventStartDate {
    color: #333;
    /* background-color: #fff; */
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
}

input#eventEndDate {
    color: #333;
    /* background-color: #fff; */
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
}


.post-content {
    max-height: 4 * 1.2em; /* 4 lines * line-height */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}



  /* wordpress page content css */

  h2.text-center.sectionheading.underline-offer {
    font-size: 16px;
    text-decoration: underline;
}

h1.text-center.sectionheading.underline-offer {
    text-decoration: underline;
    padding-bottom: 20px;
}


th {
    font-size: 14px;
    text-align: center !important;
}

td {
    font-size: 14px;
    text-align: center;
}

ul.features-list-offer {
    margin-bottom: 24px;
}

li,
th,
td,
.spadehead5 {
    color: #6d6e71 !important;
    font-size: 14px;
}

.sectionheading {
    color: #000;
    font-size: 16px;
} 

.spadetails {
    text-align: center;
    padding-bottom: 20px;
}

ul.features-list-offer {
    margin-bottom: 24px;
    text-align: left;
}


.spadehead5 {
    color: #6d6e71 !important;
    font-size: 14px;
    text-align: left;
}

.calltoavail {
    font-size: 16px !important;
    text-align: left;
}

.custom-email {
    color: black !important;
    text-decoration: none;
}


/* GalleryPage.css */
.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
  
  .masonry img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.1);
    }
  }
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index:999;
  }
  
  .lightbox-content {
    text-align: center; /* Horizontal centering */
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Vertical centering */
    max-width: 100%; /* Adjust this based on your preference */
    max-height: 100vh; /* Adjust this based on your preference */
  }
  
  .lightbox img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
  
  
  .lightbox-button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  

  /* Maya-Spa ayurveda */

  .custom-mayaspa-box {
    box-shadow: -1px 0 1px -1px silver;
    height: 329px;
  }

  /* .search-txt.col {
    max-height: 41px;
    overflow: hidden;
} */

.search-img {
    height: 100%;
}

.text-2line {
    /* Enable text overflow with ellipsis */
    text-overflow: ellipsis;
    /* Display the ellipsis at the end */
    overflow: hidden;
    /* Enable multi-line display */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
  }
  
/* Career form submit button */
  .disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
    }
  
  /* Responsive grid layout based on image sizes */
  @media (min-width: 768px) {
    .masonry {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  .sectionheading {
    color: #000;
    font-size: 16px;
    align-items: start;
    display: flex;
}

h2.text-center.sectionheading.underline-offer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.bangalore-head-logo {
    top: 50%;
    left: 84%;
    float: inline-end; 
    position: absolute ;
  }

  @media(max-width:767px) {
    .bangalore-head-logo {
        top: 13% ;
    }
  }
/* 
  .whatsapp-hover-show {
    opacity: 0;
  }

  .whatsapp-hover-show:hover {
    opacity: 1;
  } */


  /* custom whatsapp */

.custom-whatsapp-chat {
    margin-bottom: 60px !important;
    /* background: white; */
    width: 22%;
    margin-right: 30px;
}

@media(max-width:767px) {
    .custom-whatsapp-chat {
        width: 80%;
        margin-bottom: 30px !important;
        margin-right: 0px;
    }
}

